.youtube-player {
  position: fixed;
  width: 450px;
  height: 300px;
  bottom: 40px;
  right: 40px;
  background: #000000;
}

.youtube-player .close,
.youtube-player .handle {
  position: absolute;
  right: 0px;
  top: -30px;
  width: 32px;
  height: 32px;
  background: #000000;
  color: white;
  opacity: 1;
  padding: 3px;
  cursor: pointer;
}

.youtube-player .handle {
  right: 32px;
  padding-top: 8px;
  cursor: move;
}
